.filters {
  display: flex;
}

.filter-label {
  font-size: 20px;
  font-weight: bold;
}

.filter-container {
  margin-bottom: 20px;
  margin-left: 10px;
}

.filter-tag {
  margin-top: 2px;
  margin-bottom: 50px
}

.filter-tag-item {
  margin-left: 1px;
}

.filter-tag-button {
  margin-left: 0px;
}

.search-bar {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.search-bar input {
  width: 100%;
  margin-top: 30px;
}

.article {
  margin-top: 20px;
  cursor: pointer;
  padding: 50px;
}

.article:hover {
  background-color: #eee;
}
